<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/EasyBreezzy?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">dba1</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

        <mapping class="by.komposter.objectFactory.NodeUser"/>
        <mapping class="by.komposter.objectFactory.Node"/>
        <mapping class="by.komposter.objectFactory.Devices"/>
        <mapping class="by.komposter.objectFactory.Host"/>
        <mapping class="by.komposter.objectFactory.Transaction"/>
        <mapping class="by.komposter.objectFactory.Admins"/>
        <mapping class="by.komposter.objectFactory.Cpu"/>
        <mapping class="by.komposter.objectFactory.Gpu"/>
        <mapping class="by.komposter.objectFactory.Memory"/>
        <mapping class="by.komposter.objectFactory.Hdd"/>
        <mapping class="by.komposter.objectFactory.Soft"/>

    </session-factory>
</hibernate-configuration>